<div class="row">
    <div id="vend-tab" class="col-12">
        <table id="table_id" class="table table-responsive-xl table-striped table-bordered">
            <thead>
                <tr class="bg-primary text-white">
                    <th>VENDOR NAME</th>
                    <th>VENDOR TYPE</th>
                    <th>CITY</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 3</td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>