
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <a asp-action="Create" asp-controller="Vendors" id="Cr-Vend-But" class="btn btn-primary">NEW VENDOR</a>
    </div>
</div>

<div id="dialogDiv" class="modal fade" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg">
    </div>
</div>

@section Scripts{
    <script src="~/js/modal.js"></script>
    <script type="text/javascript">
        var urlObj = new Object();
        urlObj.GetCitiesUrl = "@Url.Action("GetCities","Vendors")";
        urlObj.CreateUrl = "@Url.Action("Create","Vendors")";
        console.log(urlObj.GetCitiesUrl);
    </script>
    <script src="~/js/modal_operations.js"></script>
}